<!-- Start of Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'ee32ede3eff96e8babc77448493b3b71c83153bf';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>


<div class="col-lg-2">

<%= form_tag items_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<%#= link_to 'Advancd', new_search_path %>


<h3>Search For</h3>
<%= form_for(Search.new) do |s| %>


<hr>
<h5>Categoria</h5>

<hr>
<h5><%= s.label :brand %></h5>


<%= radio_button_tag(:brand, "Sonos") %>
<%= label_tag(:Sonos, "Sonos") %>
<%= radio_button_tag(:brand, "Sony") %>
<%= label_tag(:Sony, "Sony") %>

<%= s.hidden_field :brand  %>

<hr>
<h5>Color</h5>
<hr>

<h5>Precio</h5>
<div class="field">
  <p><%= s.label :min_price, "Min Price" %> - <%= s.text_field :min_price, size: 10 %></p>
  <p><%= s.label :min_price, "Max Price" %> - <%= s.text_field :max_price, size: 10 %></p>
</div>
<hr>
<%= submit_tag "Search" %>
<% end %>
</div>

<%= render "shared/cards" %>

<%= render 'shared/footer' %>
