<div class="col-lg-2">

<%= form_tag items_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<%#= link_to 'Advancd', new_search_path %>


<h3>Search For</h3>
<%= form_for Search.new, html: {class: "pure_form"} do |s| %>


<div class="field">
  <p><%= s.label :min_price, "Min Price" %> - <%= s.text_field :min_price, size: 10 %></p>
  <p><%= s.label :min_price, "Max Price" %> - <%= s.text_field :max_price, size: 10 %></p>
</div>

<div class="actions"> <%= s.submit "Search", class: "pure-button pure-button-primary" %></div>
<% end %>
</div>

<%= render "shared/menu" %>

<%= render "shared/cards" %>

<%= render 'shared/footer' %>
